DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pagenify"
JWT_SECRET=""
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-2.0-flash"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
WISGATE_API_KEY=""
WISGATE_MODEL="deepseek-v3"
WISGATE_BASE_URL="https://wisgate.ai/v1"
